@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.overflow-x-clip {
  overflow-x: clip !important;
}

input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.swiper-horizontal
  > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
  .swiper-pagination-bullet {
  transition: 200ms transform, 200ms left;
  background-color: white;
}
.swiper-horizontal
 > .swiper-pagination-bullets
 .swiper-pagination-bullets-dynamic 
 .swiper-pagination-bullet, 
 .swiper-pagination-horizontal
 .swiper-pagination-bullets
 .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms left;
    background-color: white !important;
}

.animate-spin{
  animation-duration: 15s !important;
}
.swiper-pagination-fraction, 
.swiper-pagination-custom, 
.swiper-horizontal > .swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: var(--swiper-pagination-bottom, 0px) !important;
  top: var(--swiper-pagination-top, auto);
  color: white !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: white !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: linear-gradient(
    180deg,
    #ffffff 10.3%,
    #ffffff 44.39%,
    #ffffff 76.15%
  ) !important;
}