@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.overflow-x-clip {
  overflow-x: clip !important;
}

input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.animate-spin {
  animation-duration: 15s !important;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  display: inline-block;
  border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
  background: white !important;
  opacity: 1 !important;
}

.swiper-backface-hidden .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.swiper-pagination {
  position: unset !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background: #fff !important;
}

.swiper-pagination-bullet-active {
  width: 18px !important;
  height: 18px !important;
  background: #fff !important;
}

@media (max-width:1024px) {
  .swiper-pagination {
    margin-top: 3% !important;
  }
   
}